.light-green {
	color: #5abd19;
}
.lloyds.well {
	background-color: #00864f;
	color: white;
}

.lloyds {
	background-color: #00864f;
	color: white;
}

.lloyds.panel-heading {
	background-color: #00864f;
	color: white;
}
