<img width="100%" src="img/lloyds.jpg"/>
<h3>Confirm Receipt</h3>
<hr/>
<div class="lloyds panel panel-default">
	<div class="lloyds panel-heading">
		<h4>{{transaction.date}}</h4>
		<h4>{{transaction.benificiary}}</h4>
		<h4>{{transaction.amount | currency:"&pound; "}}</h4>
	</div>
	<div class="panel-body">
		<img width="100%" src="receipt.jpg" />
	</div>
	<div class="panel-footer lloyds">
		<div class="checkbox">
			  <label>
				      <input type="checkbox" value="">
						    VAT deductible</label>
						</div>
		<button class="btn btn-danger">Cancel</button><button class="btn btn-default pull-right" ng-click="$scope.$location.path('/transactions')">Confirm</button>
	</div>
</div>
