<img width="100%" src="img/lloyds.jpg"/>
<h3>Upload receipt</h3>
<hr/>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>{{transaction.date}} - {{transaction.benificiary}} - {{transaction.amount | currency:"&pound; "}}<h4>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<input type="file"  ng-file-select="onFileSelect($files)"/>
			</div>
			<button type="button" class="btn btn-default">Upload</button>
		</form>
		<img width="100%" ng-src="{{imageSource}}" />
		

	</div>
</div>
